{$NORTHSTAR_HOST:localhost} {
  encode zstd gzip
  header {
    X-Content-Type-Options nosniff
    X-Frame-Options DENY
    Referrer-Policy strict-origin-when-cross-origin
    -Server
  }
  reverse_proxy app:3000
}
